.wrapper{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	background-color: skyblue;
}
.wrapper > *{
	padding: 2px;
	margin: 5px;
	flex: 1 100%;
	border-radius: 5px;
}
.header{
	background: black;
	height: 100px;
	font-size: 40px;
	vertical-align: center;
	color: white;
}

.main{
	background: blue;
	height: 500px;
	padding: 1px;
	margin: 4px;
}
.aside1{
	background: black;
	float: right;
	width: 66.8%;
	height: 200px;
	margin: 4px;
	padding: 4px;
	border-radius: 10px;
	color: white;
	display: flex-left;
}
.aside2{
	background: grey;
	float: left;
	width: 30.7%;
	height: 200px;
	margin: 4px;
	padding: 4px;
	border-radius: 10px;
	font-size: 25px;
	text-align: left;
	display: flex-right;


}
.footer{
	background-color: black;
	height: 30px;
	text-align: center;
	color: white;
}
.header p{
	color: white;
	font-family: ariel;
	padding: 0px;
}
.aside2 a{
	color: black;
}
